.navbar {
    .btn-register {
        background-color: #5CB85F;
        color: #ffff;
        border-radius: 0;
        &:hover {
            background-color: white;
            color: #232323;
        }
    }
}

.btn-utama {
    background-color: #5CB85F;
    color: #ffff;
    border-radius: 0;
}